body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-image: url("./assets/background.jpg"); /* The image used */
  background-color: #ba0b34; /* Used if the image is unavailable */

  /*background-position: center; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.search-box {
  min-width: 3in;
  min-height: 2in;
}

/*
  Padding of Disposition was deemed necessary during a visual inspection of the front end on
  Chrome 83.0.4103.116 (Official Build) (64-bit)
*/
.Disposition {
  padding: 50px;
}